@import "mixins.scss";
@import "var.scss";

.fullscreen-center{
    gap:2rem;
}

form{
    width: 200px;
}

.illustration{
    width: 50vw;
    max-width: 500px;

    @include width-under(600px){
        display: none;
    }
}

.error-message{
    font-size: .7rem;
    padding: .5rem;
    color: $red;
    width: 100%;
    text-align: center;
}