<section class="flex-col">
    <div class="flex-col group">
        <h2>{{username}} <span *ngIf="!verified">- not verified</span></h2>
        <div class="flex-col">
            <p>{{email}}</p>
            <p *ngIf="!verified">you need to be manually verified to use the website... just ask</p>
            <p>just contact the dev to update the account for now</p>
        </div>
    </div>

    <div class="flex-col group">
        <h2>Danger Zone</h2>
        <div class="flex-col">
            <button (click)="logout()" class="black-btn">Logout</button>
        </div>
    </div>

</section>