@import "src/app/styles/variables.scss";

.badge{
    position: relative;
    $size: 50px;
    width: $size;
    height: $size;

    .laurier,.icon{
        position: absolute;
        bottom: 0px;
        left: 0;
        width: $size;
        height: $size;
        object-fit: cover;
    }
    .icon{
        top: 4px;
        left: 50%;
        transform: translateX(calc(-50% - 0px));
        width: calc($size - 15px);
        height: calc($size - 15px);
        border-radius: 100%;
    }
}



