@import "src/app/styles/variables.scss";


.fullscreen-center{
    gap:1rem;
    margin-top:calc($nav-height);
    padding-bottom:2rem;
}

app-quote-card{
    margin: 0 1rem;
    width: 80%;
    max-width: 800px;
}

input{
    width: 80%;
    max-width: 500px;
    border:0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: .5rem;
    border-radius: 5px;
}