<div class="quote-card flex-col">
  <p class="quote w-100">
    <span class="user">{{ quote.username }} </span> <span>“ </span
    ><i>{{ quote.quote }}</i
    ><span> ”</span>
  </p>
  <div class="flex-row middle">
    <p>{{ quote.date | date }}</p>
    <app-reaction-picker
      (reactionSelected)="onReactionSelected($event)"
    ></app-reaction-picker>
  </div>
  <div class="flex-row middle reactions">
    <p
      *ngFor="let reaction of differentReactions"
      (click)="
        userHasReacted === reaction.emoji
          ? onRemoveReaction()
          : onReactionSelected(reaction.emoji)
      "
      [ngClass]="{ mine: userHasReacted === reaction.emoji }"
    >
      {{ reaction.emoji }} {{ reaction.count }}
    </p>
  </div>
</div>
