<div class="fullscreen-center" style="gap:2rem">
    <form [formGroup]="signupForm">
        <h1>Sign-up</h1>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
        <input type="password" formControlName="passwordVerification" class="form-control" id="password" placeholder="Confirm password">
        <p *ngIf="errorInForm" class="error-message" >{{errorMessage}}</p>
        <p *ngIf="!errorInForm" class="pwd-info">Password must have 8 character minimum</p>
        <button type="submit" (click)="onSubmitForm()" class="btn btn-primary" [disabled]="signupForm.invalid" >Submit</button>
    </form>
    <img class="illustration" src="assets/illustrations/undraw_sign_up_n6im.svg" alt="signup illustration">
</div>

