@import "src/app/styles/variables.scss";


section{
    justify-content: flex-start;
    padding: 0rem 1rem;
    padding-bottom: 2rem;
    
    h1{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    article{
        width: 100%;
        max-width: 900px;
        
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        background-color: $background;
        padding: .5rem;
        border-radius: 5px;
        h4{
            font-weight: 600;
        }
        p{
            margin-left: 1rem;
        }
    }

    ul{
        margin-left: 3rem;
    }
}