section{
    justify-content: flex-start;
    padding: 2rem 1rem;
    article{
        width: 100%;
        max-width: 900px;
        h4{
            font-weight: 600;
        }
        p{
            margin-left: 1rem;
        }
    }

    ul{
        margin-left: 3rem;
    }
}